@charset "UTF-8";

body { font: 12/1.4 "nanum gothic", "malgun gothic", Hevetica, sans-serif verdana; color: #000;}

#wrap { box-sizing: border-box; width: 600px; margin: 0 auto; padding: 20px; }

.tit { padding-bottom: 10px; border-bottom: 1px dashed #ccc; }
.tit_text { font-size: 48px; font-weight: bold; }

.content { display: block; width: 100%; padding: 15px 0;}
.content:after { content: ""; clear: both; display: block; }

.image_wrap { width: 100px; float: left; margin-right: 20px;}
.image_wrap img {width: 100px; height: 150px;}

.detail { width: 440px; float: right; }

.detail_top { padding-bottom: 8px; margin-bottom: 8px; border-bottom: 1px solid #ccc;}
.detail_top:after { content: ""; clear: both; display: block; }
.sub_tit { float: left; font-size: 32px; font-weight: bold; color: #00f;}

.rank_box { position: relative; float: right; }
.rank_box:after { content: ""; clear: both; display: block; }

.rank_star_wrap {position: relative; top:1px; right: 10px; float: left; width: 74px; height: 12px; }


.bg_star, .active_star {position: absolute; top:0; left:0;}
.bg_star {display: block; width: 74px; height: 12px; background: url(../images/ico_star.png) 0 -14px no-repeat;}
.active_star {display: block; width: 51px; height: 12px; background: url(../images/ico_star.png) 0 0 no-repeat;}

.rank_text_wrap {float: right;}
.rank_text {font-size: 20px; font-weight: bold;;}

.detail_bottom p { line-height: 30px;}
