@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.list_item {
  float: left;
}

.sp {
  display: inline-block;
  background-image: url(./sp_common.png);
  background-size: 250px 233px;
}

.skip {
  width: 100%;
}

.skip .link_container {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: -100px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.skip .link_container:focus {
  top: 0px;
}

#header {
  width: 100%;
}

#header .header_top {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  background-color: #00c73c;
}

#header .header_top .logo_wrap {
  float: left;
}

#header .header_top .btn_wrap {
  float: right;
}

#header .header_top:after {
  display: block;
  content: '';
  clear: both;
}

#header .header_bottom {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.header_top .logo_wrap {
  margin-top: 13px;
}

.header_top .logo_wrap .main_logo, .header_top .logo_wrap .sub_logo {
  float: left;
}

.header_top .logo_wrap .logo {
  background-position: -30px -124px;
  width: 48px;
  height: 10px;
}

.header_top .logo_wrap .post {
  background-position: -30px -72px;
  width: 48px;
  height: 14px;
}

.header_top .logo_wrap:after {
  display: block;
  content: '';
  clear: both;
}

.header_top .btn_wrap {
  margin-top: 7px;
}

.header_top .btn_wrap .search {
  background-position: 0 -36px;
  width: 91px;
  height: 30px;
  margin-right: 2px;
}

.header_top .btn_wrap .post {
  background-position: 0 0;
  width: 107px;
  height: 30px;
}

.header_bottom .nav {
  width: 414px;
  margin: 0 auto;
  padding: 9px 0 8px 0;
}

.header_bottom .nav .nav_list:after {
  display: block;
  content: '';
  clear: both;
}

.header_bottom .nav .list_item {
  width: 25%;
  font-size: 14px;
  text-align: center;
}

.header_bottom .nav .list_item > a {
  display: inline-block;
  width: 100%;
}

.header_bottom .nav .best {
  color: #00b336;
}

.header_bottom .nav .first {
  box-sizing: border-box;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  background-position: -206px -21px;
  margin-top: -1px;
  margin-right: 3px;
}

.header_bottom .news {
  position: absolute;
  top: 8px;
  right: 20px;
  border: 1px solid #ddd;
  padding: 4px 14px;
}

.header_bottom .news:hover {
  color: #00b336;
}
