@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.skip {
  width: 100%;
}

.skip .link_container {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: -100px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.skip .link_container:focus {
  top: 0px;
}

#header {
  width: 100%;
}

#header .header_top {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  background-color: #00c73c;
}
