@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.list_item {
  float: left;
}

.sp {
  display: inline-block;
  background-image: url(./sp_common.png);
  background-size: 250px 233px;
}

.skip {
  width: 100%;
}

.skip .link_container {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: -100px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.skip .link_container:focus {
  top: 0px;
}

#header {
  width: 100%;
}

#header .header_top {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  background-color: #00c73c;
}

#header .header_top .logo_wrap {
  float: left;
}

#header .header_top .btn_wrap {
  float: right;
}

#header .header_top:after {
  display: block;
  content: '';
  clear: both;
}

#header .header_bottom {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.header_top .logo_wrap {
  margin-top: 13px;
}

.header_top .logo_wrap .main_logo, .header_top .logo_wrap .sub_logo {
  float: left;
}

.header_top .logo_wrap .logo {
  background-position: -30px -124px;
  width: 48px;
  height: 10px;
}

.header_top .logo_wrap .post {
  background-position: -30px -72px;
  width: 48px;
  height: 14px;
}

.header_top .logo_wrap:after {
  display: block;
  content: '';
  clear: both;
}

.header_top .btn_wrap {
  margin-top: 7px;
}

.header_top .btn_wrap .search {
  background-position: 0 -36px;
  width: 91px;
  height: 30px;
  margin-right: 2px;
}

.header_top .btn_wrap .post {
  background-position: 0 0;
  width: 107px;
  height: 30px;
}

.header_bottom .nav {
  width: 414px;
  margin: 0 auto;
  padding: 9px 0 8px 0;
}

.header_bottom .nav .nav_list:after {
  display: block;
  content: '';
  clear: both;
}

.header_bottom .nav .list_item {
  width: 25%;
  text-align: center;
}

.header_bottom .nav .list_item > a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

.header_bottom .nav .best {
  color: #00b336;
}

.header_bottom .nav .first {
  box-sizing: border-box;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  background-position: -206px -21px;
  margin-top: -1px;
  margin-right: 3px;
}

.header_bottom .news {
  position: absolute;
  top: 8px;
  right: 20px;
  border: 1px solid #ddd;
  padding: 4px 14px;
}

.header_bottom .news:hover {
  color: #00b336;
}

#container .visual_wrap {
  width: 100%;
  height: 276px;
  background-color: lavender;
}

#container .tabmenu_wrap {
  width: 100%;
  background-color: #f6f6f6;
}

#container .tabmenu_wrap .tabmenu_list {
  width: 924px;
  margin: 0 auto;
}

#container .tabmenu_wrap .tabmenu_list:after {
  display: block;
  content: '';
  clear: both;
}

#container .select_wrap {
  width: 924px;
  margin: 0 auto 34px;
  border-bottom: 1px solid #bbbbbb;
}

#container .rank_wrap {
  width: 924px;
  margin: 0 auto 23px;
}

#container .rank_wrap .rank_top {
  margin-bottom: 18px;
}

#container .rank_content {
  width: 984px;
  margin: 0 auto 34px;
}

.tabmenu_wrap {
  margin-bottom: 40px;
}

.tabmenu_wrap .list-item {
  float: left;
}

.tabmenu_wrap .list-item .btn {
  box-sizing: border-box;
  display: inline-block;
  width: 153px;
  height: 51px;
  line-height: 51px;
  font-size: 15px;
  color: #888;
  text-align: center;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.tabmenu_wrap .list-item .bd-l {
  border-left: 1px solid #e8e8e8;
}

.tabmenu_wrap .list-item .active {
  color: #000;
  font-weight: bold;
}

.select_wrap {
  padding-bottom: 13px;
}

.select_wrap .level {
  float: left;
}

.select_wrap .level .btn {
  font-size: 17px;
  color: #aaa;
}

.select_wrap .level .top {
  margin-right: 17px;
}

.select_wrap .level .active {
  font-family: "나눔고딕";
  color: #000;
  font-weight: bold;
}

.select_wrap .time {
  float: right;
}

.select_wrap .time .btn {
  position: relative;
  font-size: 14px;
  color: #aaa;
}

.select_wrap .time .btn:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  background-color: #aaa;
  top: 8px;
  left: -8px;
}

.select_wrap .time .now {
  margin-right: 20px;
}

.select_wrap .time .active {
  color: #000;
}

.select_wrap .time .active:after {
  background-color: #000;
}

.select_wrap:after {
  display: block;
  content: '';
  clear: both;
}

.rank_top_list > .toprank_box:first-child {
  margin-left: 0;
}

.rank_top_list .toprank_box {
  float: left;
  margin-left: 12px;
}

.rank_top_list .toprank_box .rank_link {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 247px;
}

.rank_top_list .toprank_box .rank_number {
  position: absolute;
  top: 90px;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 29px;
  background-color: #a07f2f;
  text-align: center;
  line-height: 45px;
  font-family: Helvetica;
  color: #fff;
}

.rank_top_list .toprank_box .rank_number:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 16px;
  background-color: #fff;
  left: 23px;
  bottom: 16px;
}

.rank_top_list .toprank_box .image_wrap {
  width: 300px;
  height: 140px;
}

.rank_top_list .toprank_box .rank_image {
  width: auto;
  height: 100%;
  margin-left: -29px;
}

.rank_top_list .toprank_box .text_wrap {
  padding: 20px;
  width: 258px;
  height: 64px;
  border: 1px solid #e6e6e6;
}

.rank_top_list .toprank_box .title {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 17px;
}

.rank_top_list .toprank_box .field {
  position: relative;
  font-size: 13px;
  color: #00c73c;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.rank_top_list .toprank_box .field:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #d8d8d8;
  position: absolute;
  top: 3px;
  right: 0;
}

.rank_top_list .toprank_box .from {
  color: #aaa;
}

.rank_top_list:after {
  display: block;
  content: '';
  clear: both;
}

.rank_top_list .no2 .rank_number {
  background-color: #8e8f91;
}

.rank_top_list .no3 .rank_number {
  background-color: #877157;
}

.rank_content_list {
  position: relative;
  overflow: hidden;
  left: -60px;
}

.rank_content_list .rank_box {
  float: left;
  margin-left: 60px;
}

.rank_content_list .rank_box .rank_link {
  display: inline-block;
  width: 432px;
  height: 94px;
  padding-top: 13px;
}

.rank_content_list .rank_box .rank_link:after {
  display: block;
  content: '';
  clear: both;
}

.rank_content_list:after {
  display: block;
  content: '';
  clear: both;
}

.rank_link .number_wrap {
  float: left;
  position: relative;
  padding: 0 4px;
}

.rank_link .number {
  font-size: 29px;
  font-family: Helvetica-Light;
}

.rank_link .move-number {
  position: absolute;
  bottom: -10px;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
}

.rank_link .move-number.up {
  color: #ff4467;
}

.rank_link .move-number.up:before {
  border-width: 6px 4px 6px 4px;
  border-color: transparent transparent #ff4467 transparent;
}

.rank_link .move-number.down {
  color: #3d87ff;
}

.rank_link .move-number.down:before {
  margin-bottom: -5px;
  border-width: 6px 4px 6px 4px;
  border-color: #3d87ff transparent transparent transparent;
}

.rank_link .move-number:before {
  content: '';
  display: inline-block;
  margin-bottom: 1px;
  margin-right: 2px;
  border: 4px solid #ff4467;
  border-top-width: 6px;
}

.rank_link .text_wrap {
  width: 257px;
  padding: 0 12px;
  float: left;
}

.rank_link .text_wrap .title {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 17px;
}

.rank_link .text_wrap .field {
  position: relative;
  font-size: 13px;
  color: #00c73c;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.rank_link .text_wrap .field:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #d8d8d8;
  position: absolute;
  top: 3px;
  right: 0;
}

.rank_link .text_wrap .from {
  color: #aaa;
}

.rank_link .image_wrap {
  overflow: hidden;
  width: 120px;
  height: 68px;
  float: right;
}

.rank_link .image_wrap .rank_image {
  height: 100%;
  margin-left: -27px;
}
