@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
$width: 100%;

@mixin clearboth {
  display: block;
  content: '';
  clear: both;
}

.list_item {
  float: left;
}

.sp {
  display: inline-block;
  background-image: url(./sp_common.png);
  background-size: 250px 233px;
}

.skip {
  width: $width;
  .link_container {
    display: inline-block;
    width: $width;
    position: absolute;
    top: -100px;
    color: #fff;
    background-color: #000;
    text-align: center;
    &:focus {
      top: 0px;
    }
  }
}

#header {
  width: $width;

  .header_top {
    box-sizing: border-box;
    width: $width;
    height: 45px;
    padding: 0 20px;
    background-color: #00c73c;

    .logo_wrap {
      float: left;
    }
    .btn_wrap {
      float: right;
    }

    &:after {
      @include clearboth;
    }
  }

  .header_bottom {
    position: relative;
    box-sizing: border-box;
    width: $width;
    height: 40px;
    padding: 0 20px;

  }
}

.header_top {
  .logo_wrap {
    margin-top: 13px;

    .main_logo, .sub_logo {
      float: left;
    }

    .logo {
      background-position: -30px -124px;
      width: 48px;
      height: 10px;
    }

    .post {
      background-position: -30px -72px;
      width: 48px;
      height: 14px;
    }

    &:after {
      @include clearboth;
    }
  }

  .btn_wrap {
    margin-top: 7px;
    .search {
      background-position: 0 -36px;
      width: 91px;
      height: 30px;
      margin-right: 2px;
    }
    .post {
      background-position: 0 0;
      width: 107px;
      height: 30px;
    }
  }
}

.header_bottom {
  .nav {
    width: 414px;
    margin: 0 auto;
    padding: 9px 0 8px 0;

    .nav_list:after {
      @include clearboth;
    }

    .list_item {
      width: 25%;
      font-size: 14px;
      text-align: center;
      > a {
        display: inline-block;
        width: $width;
      }
    }

    .best {
      color: #00b336;
    }

    .first {
      box-sizing: border-box;
      width: 15px;
      height: 14px;
      vertical-align: middle;
      background-position: -206px -21px;
      margin-top: -1px;
      margin-right: 3px;
    }
  }

  .news {
    position: absolute;
    top: 8px;
    right: 20px;
    border: 1px solid #ddd;
    padding: 4px 14px;
    &:hover {
      color: #00b336;
    }
  }
}

// 본문 영역
#container {
  .visual_wrap {
    width: 100%;
    height: 276px;
    background-color: lavender;
  }
  .tabmenu_wrap {
    width: 100%;
    background-color: #f6f6f6;

    .tabmenu_list {
      width: 924px;
      margin: 0 auto;
      &:after {
        @include clearboth;
      }
    }
  }

  .select_wrap {
    width: 924px;
    margin: 0 auto 34px;
    border-bottom: 1px solid #bbbbbb;
  }
}

// 본문 탭메뉴 영역
.tabmenu_wrap {
  margin-bottom: 40px;
  .list-item {
    float: left;
    .btn {
      box-sizing: border-box;
      display: inline-block;
      width: 153px;
      height: 51px;
      line-height: 51px;
      font-size: 15px;
      color: #888;
      text-align: center;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }
    .bd-l {
      border-left: 1px solid #e8e8e8;
    }
    .active {
      color: #000;
      font-weight: bold;
    }
  }
}

// 본문 TOP 100, 루키 100
.select_wrap {
  padding-bottom: 13px;
  .level {
    float: left;
    .btn {
      font-size: 17px;
      color: #aaa;
    }
    .top {
      margin-right: 17px;
    }
    .active {
      font-family: "나눔고딕";
      color: #000;
      font-weight: bold;
    }
  }
  .time {
    float: right;
    .btn {
      position: relative;
      font-size: 14px;
      color: #aaa;
      &:after {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        background-color: #aaa;
        top: 8px;
        left: -8px;
      }
    }
    .now {
      margin-right: 20px;
    }
    .active {
      color: #000;
      &:after {
        background-color: #000;
      }
    }
  }
  &:after {
    @include clearboth;
  }
}
