@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.list_item {
  float: left;
}

.sp {
  display: inline-block;
  background-image: url(./sp_common.png);
  background-size: 250px 233px;
}

.skip {
  width: 100%;
}

.skip .link_container {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: -100px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.skip .link_container:focus {
  top: 0px;
}

#header {
  width: 100%;
}

#header .header_top {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  background-color: #00c73c;
}

#header .header_top .logo_wrap {
  float: left;
}

#header .header_top .btn_wrap {
  float: right;
}

#header .header_top:after {
  display: block;
  content: '';
  clear: both;
}

#header .header_bottom {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.header_top .logo_wrap {
  margin-top: 13px;
}

.header_top .logo_wrap .main_logo, .header_top .logo_wrap .sub_logo {
  float: left;
}

.header_top .logo_wrap .logo {
  background-position: -30px -124px;
  width: 48px;
  height: 10px;
}

.header_top .logo_wrap .post {
  background-position: -30px -72px;
  width: 48px;
  height: 14px;
}

.header_top .logo_wrap:after {
  display: block;
  content: '';
  clear: both;
}

.header_top .btn_wrap {
  margin-top: 7px;
}

.header_top .btn_wrap .search {
  background-position: 0 -36px;
  width: 91px;
  height: 30px;
  margin-right: 2px;
}

.header_top .btn_wrap .post {
  background-position: 0 0;
  width: 107px;
  height: 30px;
}

.header_bottom .nav {
  width: 414px;
  margin: 0 auto;
  padding: 9px 0 8px 0;
}

.header_bottom .nav .nav_list:after {
  display: block;
  content: '';
  clear: both;
}

.header_bottom .nav .list_item {
  width: 25%;
  text-align: center;
}

.header_bottom .nav .list_item > a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

.header_bottom .nav .best {
  color: #00b336;
}

.header_bottom .nav .first {
  box-sizing: border-box;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  background-position: -206px -21px;
  margin-top: -1px;
  margin-right: 3px;
}

.header_bottom .news {
  position: absolute;
  top: 8px;
  right: 20px;
  border: 1px solid #ddd;
  padding: 4px 14px;
}

.header_bottom .news:hover {
  color: #00b336;
}

#container .visual_wrap {
  width: 100%;
  height: 276px;
  background-color: lavender;
}

#container .tabmenu_wrap {
  width: 100%;
  background-color: #f6f6f6;
}

#container .tabmenu_wrap .tabmenu_list {
  width: 924px;
  margin: 0 auto;
}

#container .tabmenu_wrap .tabmenu_list:after {
  display: block;
  content: '';
  clear: both;
}

@media (max-width: 1024px) {
  #container .tabmenu_wrap .tabmenu_list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

#container .select_wrap {
  width: 924px;
  margin: 0 auto 34px;
  border-bottom: 1px solid #bbbbbb;
}

@media (max-width: 1024px) {
  #container .select_wrap {
    width: 660px;
  }
}

#container .rank_wrap {
  width: 924px;
  margin: 0 auto 23px;
}

@media (max-width: 1024px) {
  #container .rank_wrap {
    width: 660px;
  }
}

#container .rank_wrap .rank_top {
  margin-bottom: 18px;
}

#container .rank_content {
  width: 984px;
  margin: 0 auto 34px;
}

#container .rank_content.top {
  margin-bottom: 364px;
}

@media (max-width: 1024px) {
  #container .rank_content {
    width: 698px;
  }
}

.visual_wrap .slider {
  width: 100%;
  height: 276px;
}

.visual_wrap .slider__list {
  width: 924px;
  margin: 0 auto;
}

.visual_wrap .slider__item {
  position: relative;
  width: 100%;
  height: 276px;
  background: url("./slider-bg-1.png") 0 center no-repeat;
}

.visual_wrap .slider__item.slick-current .slider__link {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.visual_wrap .slider__link {
  display: none;
  box-sizing: border-box;
  padding: 30px 50px;
  width: 100%;
  height: 100%;
}

.visual_wrap .slider__recommand {
  position: relative;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}

.visual_wrap .slider__recommand:after {
  content: '';
  position: absolute;
  width: 65px;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: -2px;
}

.visual_wrap .slider__title {
  padding-top: 12px;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 1px;
  color: #fff;
}

.visual_wrap .slider__icon__wrap {
  position: absolute;
  bottom: 26px;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
}

.visual_wrap .slider__icon {
  width: 26px;
  height: 26px;
}

.visual_wrap .slider__from {
  position: absolute;
  bottom: 26px;
  left: 86px;
  display: inline-block;
  height: 26px;
  vertical-align: top;
  line-height: 26px;
  font-size: 15px;
  color: #fff;
}

.visual_wrap .slick-list {
  overflow: visible !important;
}

.visual_wrap .slick-arrow {
  z-index: 1;
}

.visual_wrap .slick-dots {
  width: auto;
  top: 0;
  right: 5px;
}

.visual_wrap .slick-dots li {
  top: 40px;
  right: 50px;
  width: 15px;
  margin: 0;
}

.visual_wrap .bg2 {
  background-image: url("./slider-bg-2.png");
}

.visual_wrap .bg3 {
  background-image: url("./slider-bg-3.png");
}

.visual_wrap .bg4 {
  background-image: url("./slider-bg-4.png");
}

.visual_wrap .bg5 {
  background-image: url("./slider-bg-5.png");
}

.visual_wrap .img_dim {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.visual_wrap .slick-current .img_dim {
  background: rgba(0, 0, 0, 0.2);
}

.tabmenu_wrap {
  margin-bottom: 40px;
}

.tabmenu_wrap .list-item {
  float: left;
}

.tabmenu_wrap .list-item .btn {
  box-sizing: border-box;
  display: inline-block;
  width: 153px;
  height: 51px;
  line-height: 51px;
  font-size: 15px;
  color: #888;
  text-align: center;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.tabmenu_wrap .list-item .bd-l {
  border-left: 1px solid #e8e8e8;
}

.tabmenu_wrap .list-item .active {
  color: #000;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .tabmenu_wrap .list-item {
    float: none;
    display: inline-block;
  }
}

.more_wrap {
  border-top: 1px solid #ededed;
  padding: 19px 0;
  text-align: center;
}

.more_wrap .rankmore {
  text-align: center;
  font-size: 15px;
  color: #555;
}

.more_wrap .rankmore .more {
  margin-left: 6px;
  background-image: url(./sp_arrow.png);
  width: 12px;
  height: 7px;
  background-position: -301px -68px;
  background-size: 388px 371px;
}

.select_wrap {
  padding-bottom: 13px;
}

.select_wrap .level {
  float: left;
}

.select_wrap .level .btn {
  font-size: 17px;
  color: #aaa;
}

.select_wrap .level .top {
  margin-right: 17px;
}

.select_wrap .level .active {
  font-family: "나눔고딕";
  color: #000;
  font-weight: bold;
}

.select_wrap .time {
  float: right;
}

.select_wrap .time .btn {
  position: relative;
  font-size: 14px;
  color: #aaa;
}

.select_wrap .time .btn:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  background-color: #aaa;
  top: 8px;
  left: -8px;
}

.select_wrap .time .now {
  margin-right: 20px;
}

.select_wrap .time .active {
  color: #000;
}

.select_wrap .time .active:after {
  background-color: #000;
}

.select_wrap:after {
  display: block;
  content: '';
  clear: both;
}

.rank_top_list > .toprank_box:first-child {
  margin-left: 0;
}

.rank_top_list .toprank_box {
  float: left;
  margin-left: 12px;
}

.rank_top_list .toprank_box .rank_link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 247px;
}

@media (max-width: 1024px) {
  .rank_top_list .toprank_box .rank_link {
    width: 208px;
    height: 202px;
  }
}

.rank_top_list .toprank_box .rank_number {
  position: absolute;
  top: 90px;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 29px;
  background-color: #a07f2f;
  text-align: center;
  line-height: 45px;
  font-family: Helvetica;
  color: #fff;
}

.rank_top_list .toprank_box .rank_number:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 16px;
  background-color: #fff;
  left: 23px;
  bottom: 16px;
}

@media (max-width: 1024px) {
  .rank_top_list .toprank_box .rank_number {
    top: 46px;
  }
}

.rank_top_list .toprank_box .image_wrap {
  width: 300px;
  height: 140px;
}

@media (max-width: 1024px) {
  .rank_top_list .toprank_box .image_wrap {
    width: 208px;
    height: 96px;
  }
}

.rank_top_list .toprank_box .rank_image {
  width: auto;
  height: 100%;
  margin-left: -29px;
}

.rank_top_list .toprank_box .text_wrap {
  padding: 20px 20px 13px 20px;
  width: 258px;
  border: 1px solid #e6e6e6;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .rank_top_list .toprank_box .text_wrap {
    width: 166px;
  }
}

.rank_top_list .toprank_box .title {
  height: 43px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 17px;
}

.rank_top_list .toprank_box .field {
  position: relative;
  font-size: 13px;
  color: #00c73c;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.rank_top_list .toprank_box .field:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #d8d8d8;
  position: absolute;
  top: 3px;
  right: 0;
}

.rank_top_list .toprank_box .from {
  color: #aaa;
}

.rank_top_list:after {
  display: block;
  content: '';
  clear: both;
}

.rank_top_list .no2 .rank_number {
  background-color: #8e8f91;
}

.rank_top_list .no3 .rank_number {
  background-color: #877157;
}

.rank_content_list {
  position: relative;
  overflow: hidden;
  left: -60px;
}

@media (max-width: 1024px) {
  .rank_content_list {
    left: -38px;
  }
}

.rank_content_list .rank_box {
  float: left;
  margin-left: 60px;
}

@media (max-width: 1024px) {
  .rank_content_list .rank_box {
    margin-left: 38px;
  }
}

.rank_content_list .rank_box .rank_link {
  display: inline-block;
  width: 432px;
  height: 94px;
  padding-top: 13px;
}

@media (max-width: 1024px) {
  .rank_content_list .rank_box .rank_link {
    width: 301px;
    height: 99px;
  }
}

.rank_content_list .rank_box .rank_link:after {
  display: block;
  content: '';
  clear: both;
}

.rank_content_list:after {
  display: block;
  content: '';
  clear: both;
}

.rank_link .number_wrap {
  width: 40px;
  float: left;
  position: relative;
  padding: 0 2px 0 1px;
  text-align: center;
}

.rank_link .number {
  font-size: 29px;
  font-family: Helvetica-Light;
}

.rank_link .state_wrap {
  margin-top: -5px;
}

.rank_link .state_wrap .state {
  display: inline-block;
}

.rank_link .state_wrap .move-number {
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
}

.rank_link .state_wrap.up .state {
  display: inline-block;
  margin-bottom: 1px;
  color: #ff4467;
  border: 4px solid #ff4467;
  border-width: 6px 4px 6px 4px;
  border-color: transparent transparent #ff4467 transparent;
}

.rank_link .state_wrap.up .move-number {
  color: #ff4467;
}

.rank_link .state_wrap.down .state {
  display: inline-block;
  margin-bottom: -5px;
  color: #3d87ff;
  border: 4px solid #3d87ff;
  border-width: 6px 4px 6px 4px;
  border-color: #3d87ff transparent transparent transparent;
}

.rank_link .state_wrap.down .move-number {
  color: #3d87ff;
}

.rank_link .state_wrap.new .state {
  display: inline-block;
  width: 23px;
  height: 10px;
  margin-bottom: -5px;
  background-image: url(./sp_common.png);
  background-size: 250px 233px;
  background-position: -23px -203px;
}

.rank_link .state_wrap.stay .state {
  display: inline-block;
  width: 16px;
  height: 2px;
  margin-bottom: 2px;
  background-color: #c5c5c5;
}

.rank_link .text_wrap {
  width: 257px;
  padding: 0 12px 0 0;
  float: left;
}

@media (max-width: 1024px) {
  .rank_link .text_wrap {
    width: 183px;
    padding: 0;
  }
}

.rank_link .text_wrap .title {
  height: 43px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 17px;
}

.rank_link .text_wrap .field {
  position: relative;
  font-size: 13px;
  color: #00c73c;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.rank_link .text_wrap .field:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #d8d8d8;
  position: absolute;
  top: 3px;
  right: 0;
}

.rank_link .text_wrap .from {
  color: #aaa;
}

.rank_link .image_wrap {
  overflow: hidden;
  width: 120px;
  height: 68px;
  float: right;
}

@media (max-width: 1024px) {
  .rank_link .image_wrap {
    width: 68px;
  }
}

.rank_link .image_wrap .rank_image {
  height: 100%;
  margin-left: -27px;
}

.recommand_wrap {
  position: absolute;
  top: 1190px;
  left: 0;
  width: 100%;
  height: 314px;
  background-color: #f7f7f7;
  background: #f7f7f7;
}

@media (max-width: 1024px) {
  .recommand_wrap {
    top: 1120px;
  }
}

.recommand_box {
  position: relative;
  width: 924px;
  margin: 0 auto;
  padding: 36px 0;
}

@media (max-width: 1024px) {
  .recommand_box {
    width: auto;
    padding: 36px 0 0 36px;
  }
}

.recommand_box .title {
  padding-bottom: 20px;
  font-size: 17px;
}

.recommand_box .title .bold {
  font-size: 17px;
  font-weight: bold;
}

.recommand_box .more {
  position: absolute;
  top: 38px;
  right: 20px;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 1024px) {
  .recommand_box .more {
    top: 18px;
    right: 0px;
    color: #f7f7f7;
  }
}

@media (max-width: 1024px) {
  .recommand_box .more:before {
    content: '>';
    display: inline-block;
    padding: 20px;
    color: #aaa;
  }
}

@media (max-width: 1024px) {
  .recommand_list {
    width: 924px;
  }
}

.recommand_list:after {
  display: block;
  content: '';
  clear: both;
}

.recommand_list .list-item {
  float: left;
  margin-left: 11px;
}

.recommand_list .list-item:first-child {
  margin-left: 0;
}

.recommand_list .recommand_link {
  position: relative;
  display: inline-block;
  width: 174px;
  height: 196px;
  border: 1px solid #d5d5d5;
}

.recommand_list .recommand_link .bg_wrap {
  position: relative;
  height: 78px;
  background: url(http://post.phinf.naver.net/MjAxNzAyMTRfMTYg/MDAxNDg3MDY2NzkzNDA3.YXto-3Zz8rolOco_2oufYUcJKjUGq3JtMqtzerb8HZUg.q9lc9TB2RN79ZQ9DWF8MAPZjszrFYFgad5Ex8s_cR_0g.JPEG/post_7626158680867619505.jpg?type=f218_218) 0 0 no-repeat;
}

.recommand_list .recommand_link .bg_wrap:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  content: '';
}

.recommand_list .recommand_link .bg2 {
  background-image: url(http://post.phinf.naver.net/20160713_2/cine_play_1468400809803oI95J_JPEG/cine_play_270535967761954502.jpg?type=f218_218);
}

.recommand_list .recommand_link .bg3 {
  background-image: url(http://post.phinf.naver.net/MjAxNzExMjhfMjYg/MDAxNTExODYwMDQ2Mjcy.6kmelIfcJW8dlGmTLcT4zOQIX8-lmp0ufKMvv6voz6Eg.D7QMIVgywYw8mb1loJnV0QUDrIHXKGKy_jH-GulPUu4g.JPEG/post_3792834365627916667.jpg?type=f218_218);
}

.recommand_list .recommand_link .bg4 {
  background-image: url(http://post.phinf.naver.net/20161014_115/1476401562124jl8m2_PNG/ewaynews_5142828330990620856.png?type=f218_218);
}

.recommand_list .recommand_link .bg5 {
  background-image: url(http://post.phinf.naver.net/MjAxNzA1MjlfMjc0/MDAxNDk2MDIxMzkyOTgy.ORrX6nPyck2Ee-EaIckN6hRrM8u90Xp6oP1FiOFw508g.rFOyJDG8w76hyihIXeK0TOalB0zu4XjT4hkaDAUeaF0g.JPEG/post_3522364319243729486.jpg?type=f218_218);
}

.recommand_list .recommand_link .image_icon {
  position: absolute;
  left: 50%;
  top: 36px;
  margin-left: -31px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.recommand_list .recommand_link .text_wrap {
  padding: 33px 26px 22px;
  text-align: center;
}

.recommand_list .recommand_link .text_wrap .from {
  font-size: 15px;
  padding-bottom: 6px;
}

.recommand_list .recommand_link .text_wrap .desc {
  padding-top: 6px;
  font-size: 13px;
  color: #909090;
}

#footer {
  width: 100%;
  height: 117px;
  padding: 25px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #c9ccce;
  text-align: center;
}

#footer .btn_top {
  font-size: 13px;
  color: #444;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 30px;
}

#footer .top {
  margin-right: 3px;
  width: 10px;
  height: 10px;
  background-position: -227px -182px;
}

#footer .footer_list {
  margin-bottom: 8px;
}

#footer .list-item {
  display: inline-block;
}

#footer .list-item:first-child .btn {
  margin-left: 0;
}

#footer .list-item .btn {
  display: inline-block;
  font-size: 13px;
  margin-left: 7px;
  padding: 6px 11px;
  border: 1px solid #ccc;
}

#footer .text_wrap {
  margin-bottom: 8px;
}

#footer .text_wrap .btn {
  font-size: 13px;
  color: #999;
}

#footer .text_wrap .customer {
  position: relative;
  padding-right: 8px;
  margin-right: 4px;
}

#footer .text_wrap .customer:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ebebeb;
  position: absolute;
  top: 3px;
  right: 0;
}

#footer .copyright {
  color: #999;
  font-size: 13px;
}
