@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
$width: 100%;


.skip {
  width: $width;
  .link_container {
    display: inline-block;
    width: $width;
    position: absolute;
    top: -100px;
    color: #fff;
    background-color: #000;
    text-align: center;
    &:focus {
      top: 0px;
    }
  }
}

#header {
  width: $width;

  .header_top {
    box-sizing: border-box;
    width: $width;
    height: 45px;
    padding: 0 20px;
    background-color: #00c73c;


  }

}
