#wrap {
  max-width: 417px;
  height: 298px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#wrap:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.3s;
}

#wrap:hover .img + .btn_vote, #wrap:hover .img + .btn_vote + .btn_arr {
  opacity: 1;
}

#wrap:hover .img {
  transform: scale(1.2);
  transition: all 0.3s;
}

#wrap .img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s;
}

#wrap .btn_vote, #wrap .btn_arr {
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s;
}

#wrap .btn_vote {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid #fff;
}

#wrap .btn_vote:hover {
  color: #49c5b6;
  border-color: #49c5b6;
  background-color: transparent;
}

#wrap .btn_arr {
  bottom: 10%;
  right: 10%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #fff;
}
