@charset "UTF-8";

$width: 417px;
$height: 298px;

#wrap {
  max-width: $width;
  height: $height;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.3s;
  }

  &:hover .img + .btn_vote, &:hover .img + .btn_vote + .btn_arr {
    opacity: 1;
  }

  &:hover .img {
    transform: scale(1.2);
    transition: all 0.3s;
  }

  .img {
    width: 100%;
    transform: scale(1.0);
    transition: all 0.3s;
  }

  .btn_vote, .btn_arr {
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: all 0.3s;
  }

  .btn_vote {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    font-weight: bold;
    padding:0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #fff;

    &:hover {
      color: #49c5b6;
      border-color: #49c5b6;
      background-color: transparent;
    }
  }

  .btn_arr {
    bottom:10%;
    right:10%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #fff;

  }
}
