@charset "UTF-8";
body { font: 12px/1.4 "nanum gothic",Arial,sans-serif;; color: #000;}
#wrap {
  width: 1200px;
  margin: 50px auto;
  background-color: #fff;
}

.news_wrap {
  margin: 0 auto;
  box-sizing: border-box;
  width: 740px;
  padding: 22px 18px;
  border: 1px solid #dde2ea;
}

.news_wrap:after, .news_box:after {
  content: "";
  display: block;
  clear: both;
}

.news_box {
  float: left;
  box-sizing: border-box;
  width: 350px;
}

.news_img {
  float: left;
  margin-right: ;
}

.news_text {
  width: 150px;
  float: right;
  padding: 8px 12px;
}

.sub_tit {
  color: #00ab33;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -1px;
}

.main_tit {
  margin-bottom: 5px;
  color: #222;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -1px;
}
